<h1>Speed Pitches</h1>
<h3>Scripts with the shortest loglines</h3>

<table>
    <tr>
        <th>Title</th>
        <th>Logline</th>
        <th>Format</th>
    </tr>

    <tr>
    <% @scripts.each do |script| %>
        <td><%= link_to script.title, script_path(script), :class => "link_to_style" %></td>
        <td><%= script.logline %></td>
        <td><%= script.department_name %></td>
    </tr>
    <% end %>
</table>
