<h1>Add Format</h1>

<%= form_for @department do |f| %>
    <div>
        <%= f.label :name, "Format:" %>
        <%= f.text_field :name, :autocomplete => :off %>
    </div>
        <br>

        <%= f.submit "Add Format" %>
<% end %>