<h1><%= @department.name %></h1>

<p style="text-align: center"></p>

<table>
    <tr>
        <td><b>Name:</b></td>
        <td><%= @department.name %></td>
    </tr>
    <tr>
        <td><b>List of Scripts:</b></td>
        <td><%= link_to "Full List Here", department_scripts_path(@department) %></td>
    </tr>
</table>
<%= button_to "Add a Script", new_department_script_path(@department), :method => "get" %>

