

 
 h1 {
    font-family: 'Merriweather', serif;
    color: #18453b;
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    color: #18453b;
    text-align: center;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #18453b;

}
html {
    height: 100%;
    font-family: 'Open Sans', sans-serif, 600;
}
/* body */
body {
    color: (87, 87, 87);
    font-family: 'Open Sans', sans-serif, 600;
    font-weight: 350;
    margin: 0;
    background-color: #def4ef;
    height: 100%
}

/* p */
p {
    color: (87, 87, 87);
    font-family: 'Open Sans', sans-serif, 600;
    font-weight: 350;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Open Sans', sans-serif, 600;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #def4ef;
    color:rgb(87, 87, 87);
    font-family: 'Open Sans', sans-serif, 600;
  }
  
  th, a {
 
  font-family: 'Open Sans', sans-serif, 600;
  color: #18453b;
  
  }

  input[type=text], input[type=number], input[type=email], input[type=password] {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #def4ef;
    font-family: 'Open Sans', sans-serif, 600;
  }


  * {
    box-sizing: border-box;
  }
 
  
  
  .row 
  {
      height: 100%;
  }
  
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 100%;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;

    background-color: #def4ef;
    height: 100%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
    justify-content: center;
    background-color: #fbfefd;
    height: 100%;
    font-family: 'Open Sans', sans-serif, 600;
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    height: 100%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }



